.heading
{
width: 100%;
text-align: left;
}

.heading h3{
     display: inline;
}

.heading button{
     float: right;
     border: 1px solid white;
}

#start,#status{
     font-size: 22px;
}

h4{
     background-color: aliceblue;
     margin: 0px;
     line-height: 2;
     bottom: 0;
     position: fixed;
     width: 100%;
}

.modal-dialog{
     width: 90%;
}

.instruction_img{
     display: inline-block;
    text-align: left;
}

#restart{
     margin-bottom: 50px;
}

canvas 
  {
      border:3px solid white;
      border-radius: 20px;
      box-shadow:  5px 5px 5px white;
  }
